In [14]:
# Import dependencies
import pandas as pd
import gmaps
import requests

from config import g_key

In [2]:
# Open File
weather_data_df = pd.read_csv("challenge_data/WeatherPy_challenge.csv")
weather_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,Khatanga,RU,2020-02-23 09:52:15,71.97,102.50,15.30,85,100,13.31,overcast clouds,5.00,0.13
1,1,Sao Filipe,CV,2020-02-23 09:52:15,14.90,-24.50,68.47,80,100,17.36,overcast clouds,5.00,0.13
2,2,Albany,US,2020-02-23 09:52:15,42.60,-73.97,28.00,73,1,4.47,clear sky,5.00,0.13
3,3,Bahir Dar,ET,2020-02-23 09:52:15,11.59,37.39,84.18,19,0,8.25,clear sky,5.00,0.13
4,4,Butaritari,KI,2020-02-23 09:52:16,3.07,172.79,84.76,77,76,14.70,light rain,2.88,0.13
5,5,Milkovo,RU,2020-02-23 09:52:16,54.72,158.62,-3.01,84,3,2.93,clear sky,2.88,0.13
6,6,Ambanja,MG,2020-02-23 09:52:16,-13.68,48.45,89.60,70,75,2.24,broken clouds,2.88,0.13
7,7,Matara,LK,2020-02-23 09:47:47,5.95,80.54,88.52,59,69,9.66,light rain,0.19,0.13
8,8,Provideniya,RU,2020-02-23 09:52:16,64.38,-173.30,-9.81,100,53,2.95,broken clouds,0.19,0.13
9,9,Hilo,US,2020-02-23 09:52:17,19.73,-155.09,68.00,77,75,3.36,broken clouds,0.19,0.13

In [4]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is your minimum temperature preference? "))
max_temp = float(input("What is your maximum temperature preference? "))

# Ask the customer if they would like it to be raining or not
want_rain = str(input("Do you want it to be raining? (yes/no) "))
# Ask the customer if they would like it to be snowing or not
want_snow = str(input("Do you want it to be snowing? (yes/no) "))

What is your minimum temperature preference? 60
What is your maximum temperature preference? 80
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [5]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = weather_data_df.loc[(weather_data_df["Max Temp"] <= max_temp) & 
                                          (weather_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
1,1,Sao Filipe,CV,2020-02-23 09:52:15,14.90,-24.50,68.47,80,100,17.36,overcast clouds,5.00,0.13
9,9,Hilo,US,2020-02-23 09:52:17,19.73,-155.09,68.00,77,75,3.36,broken clouds,0.19,0.13
10,10,Vaini,TO,2020-02-23 09:52:17,-21.20,-175.20,78.80,94,75,10.29,broken clouds,0.19,0.13
25,25,Rikitea,PF,2020-02-23 09:52:20,-23.12,-134.97,79.11,66,0,3.83,clear sky,0.94,0.13
26,26,Kapaa,US,2020-02-23 09:52:20,22.08,-159.32,73.40,88,20,11.41,few clouds,0.94,0.13
27,27,Lanquin,GT,2020-02-23 09:52:21,15.57,-89.97,60.22,99,98,1.97,light rain,0.50,0.94
31,31,Hobart,AU,2020-02-23 09:52:21,-42.88,147.33,62.60,59,75,13.87,broken clouds,0.50,0.94
33,33,Port Elizabeth,ZA,2020-02-23 09:52:22,-33.92,25.57,71.60,46,40,11.41,scattered clouds,0.50,0.94
39,39,Walvis Bay,NaN,2020-02-23 09:52:23,-22.96,14.51,69.80,68,47,13.87,scattered clouds,0.38,0.94
46,46,Flinders,AU,2020-02-23 09:52:24,-34.58,150.86,72.00,77,100,9.17,overcast clouds,0.38,0.94

In [6]:
# Create a DataFrame called hotel_df to store hotel names along with 
# city, country, max temp, current weather description, latitude, longitude 
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sao Filipe,CV,68.47,overcast clouds,14.90,-24.50,
9,Hilo,US,68.00,broken clouds,19.73,-155.09,
10,Vaini,TO,78.80,broken clouds,-21.20,-175.20,
25,Rikitea,PF,79.11,clear sky,-23.12,-134.97,
26,Kapaa,US,73.40,few clouds,22.08,-159.32,
27,Lanquin,GT,60.22,light rain,15.57,-89.97,
31,Hobart,AU,62.60,broken clouds,-42.88,147.33,
33,Port Elizabeth,ZA,71.60,scattered clouds,-33.92,25.57,
39,Walvis Bay,NaN,69.80,scattered clouds,-22.96,14.51,
46,Flinders,AU,72.00,overcast clouds,-34.58,150.86,

In [7]:
# Configure gmaps to use my Google API Key
gmaps.configure(api_key=g_key)

In [8]:
# Set the parameters for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [9]:
# Iterature through the Hotel DataFrame
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store it
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found. Skipping...")

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [10]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sao Filipe,CV,68.47,overcast clouds,14.90,-24.50,Tortuga B&B
9,Hilo,US,68.00,broken clouds,19.73,-155.09,Hilo Hawaiian Hotel
10,Vaini,TO,78.80,broken clouds,-21.20,-175.20,Keleti Beach Resort
25,Rikitea,PF,79.11,clear sky,-23.12,-134.97,Pension Maro'i
26,Kapaa,US,73.40,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
27,Lanquin,GT,60.22,light rain,15.57,-89.97,Yaxlik River Lodge
31,Hobart,AU,62.60,broken clouds,-42.88,147.33,St Ives Apartments
33,Port Elizabeth,ZA,71.60,scattered clouds,-33.92,25.57,39 On Nile Guest House
39,Walvis Bay,NaN,69.80,scattered clouds,-22.96,14.51,Oyster Box Guesthouse
46,Flinders,AU,72.00,overcast clouds,-34.58,150.86,Shellharbour Resort & Conference Centre

In [11]:
# Create the output file (CSV)
output_data_file = "challenge_data/WeatherPy_vacation.csv"

# Export the hotel DataFrame into a CSV file
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# Description Definition
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} 'F</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add marker layer map
locations = hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))