In [1]:
# import dependencies
import pandas as pd
import gmaps
import requests

# import Google API Key
from config import g_key

In [2]:
# store the CSV you created in Part 1 into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2020-02-22 22:23:55,77.48,-69.36,-14.08,64,99,4.52
1,1,Tuktoyaktuk,CA,2020-02-22 22:25:47,69.45,-133.04,3.20,84,90,6.93
2,2,Mount Isa,AU,2020-02-22 22:25:48,-20.73,139.50,80.60,65,100,10.29
3,3,Bozoum,CF,2020-02-22 22:25:48,6.32,16.38,76.77,24,8,4.56
4,4,Yellowknife,CA,2020-02-22 22:25:48,62.46,-114.35,3.99,65,75,8.05

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use my Google API Key
gmaps.configure(api_key=g_key)

# Create a Heatmap of Temperature

**NOTE**: Google heatmaps does not plot negative numbers. If you have a "max_temp" that is less than 0'F, then you will get an "InvalidWeightException" error for this line of code: heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

To remove the negative temperatures, we use a for loop to iterate through the "max_temp" and added the temperatures that are greater than 0'F to a new list:

In [12]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    temps.append(max(temp, 0))

Instead of using the for loop, you can perform a list comprehension within the heatmap_layer() function.

Replace "weight=temps" in the heat_layer code to "weights=[max(temp, 0) for temp in max_temp])

In [14]:
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
    
# Assign the figure variable
fig = gmaps.figure()

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

### Adjust Heatmap Zoom, Intesity, and Point Radius

First, we're adding the geographic center of Earth in the form of latitude and longitude (30.0'N and 31.0'E) as well as a zoom level so that only one map of Earth is show.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [17]:
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
    
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

Circles for the temperatures need to be modified so that they are larger and show temperature gradient differences as you scroll and zoom. Dissipation option for creating heatmaps can be added to the gmaps.heat_layer() attribute.

In [19]:
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
    
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Humidity Heatmap

In [20]:
# Heatmap for percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [22]:
# Heatmap for percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                weights=cloudiness,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Wind Speed Heatmap

In [23]:
# Heatmap for wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                weights=wind_speed,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maxinum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maxinum temperature you would like for your trip? 90

In [32]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Mount Isa,AU,2020-02-22 22:25:48,-20.73,139.50,80.60,65,100,10.29
3,3,Bozoum,CF,2020-02-22 22:25:48,6.32,16.38,76.77,24,8,4.56
8,8,Sainte-Marie,RE,2020-02-22 22:23:02,-20.90,55.55,75.20,69,100,5.82
10,10,Butaritari,KI,2020-02-22 22:25:49,3.07,172.79,83.89,75,94,6.55
15,15,Atuona,PF,2020-02-22 22:25:50,-9.80,-139.03,81.86,76,0,13.73
17,17,Vaini,TO,2020-02-22 22:25:51,-21.20,-175.20,80.60,88,90,11.41
21,21,Rikitea,PF,2020-02-22 22:23:56,-23.12,-134.97,78.94,70,1,7.52
24,24,Boali,CF,2020-02-22 22:25:52,4.80,18.13,84.20,79,74,2.24
27,27,Hilo,US,2020-02-22 22:25:53,19.73,-155.09,80.60,54,1,11.41
33,33,Bucerias,MX,2020-02-22 22:25:54,20.75,-105.33,81.00,78,5,10.29

In [36]:
preferred_cities_df.notnull().sum()

City_ID       149
City          149
Country       148
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

In [34]:
preferred_cities_df.count()

City_ID       149
City          149
Country       148
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

**NOTE**: It looks like there is null "country"

**Important!** 
Consider the following guidance:
* Depending on the time of year and the seasons, you might have to adjust the minimum and maximum temperature to get enough cities.
* It is a good idea to keep the number of cities to fewer than 200 to make it easier to plot the markers on the heatmap.
* If you have some rows with null values, you’ll need to drop them using the dropna() method at the end of your filtering statement when you are creating the new DataFrame.

In [38]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
2      Mount Isa      AU     80.60 -20.73  139.50
3         Bozoum      CF     76.77   6.32   16.38
8   Sainte-Marie      RE     75.20 -20.90   55.55
10    Butaritari      KI     83.89   3.07  172.79
15        Atuona      PF     81.86  -9.80 -139.03
17         Vaini      TO     80.60 -21.20 -175.20
21       Rikitea      PF     78.94 -23.12 -134.97
24         Boali      CF     84.20   4.80   18.13
27          Hilo      US     80.60  19.73 -155.09
33      Bucerias      MX     81.00  20.75 -105.33

# Retrieve Hotels from a Nearby Search

In [40]:
# Set the parameters for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [42]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grad the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Mount Isa,AU,80.60,-20.73,139.50,ibis Styles Mt Isa Verona
3,Bozoum,CF,76.77,6.32,16.38,
8,Sainte-Marie,RE,75.20,-20.90,55.55,Les pailles en queue de Sainte Marie
10,Butaritari,KI,83.89,3.07,172.79,Isles Sunset Lodge
15,Atuona,PF,81.86,-9.80,-139.03,Villa Enata
17,Vaini,TO,80.60,-21.20,-175.20,Keleti Beach Resort
21,Rikitea,PF,78.94,-23.12,-134.97,Pension Maro'i
24,Boali,CF,84.20,4.80,18.13,
27,Hilo,US,80.60,19.73,-155.09,Hilo Hawaiian Hotel
33,Bucerias,MX,81.00,20.75,-105.33,Villa del Palmar Flamingos Beach Resort & Spa ...

# Create a Max Temp HeatMap from a Hotel DataFrame

In [47]:
# Description Definition
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} 'F</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))